[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/janbaudisch/zola-sam.git
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
